<div class="container">
  <div class="row">
    <div class="col-md-6">
    	<h1>Create a new Meeting</h1>
      <form (ngSubmit)="onSubmit()" #meetingForm="ngForm" id="meetingForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title"
                  required
                  [(ngModel)]="model.title" name="title"
                  #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
            Title is required
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" required
                  [(ngModel)]="model.description" name="description" #description="ngModel">
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            Description is required
          </div>
        </div>

        <div class="form-group">
          <label for="speaker">Speaker</label>
          <input class="form-control" id="speaker" ngxTypeahead name="mySpeaker" #mySpeaker="ngModel"  
            [(ngModel)]="typeAheadSpeaker"
            [taUrl]="jsonDataUrl"
            [taParams]="{}"
            [taApi]="'http'"
            (taSelected)="speakerSelected($event)"
            (blur)="verifyUser()"/>
        </div>
        
        <div class="form-group">
          <label for="meetingDate">Meeting Date</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="datePicker" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-addon" (click)="d.toggle()" >
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
              <button type="button" class="btn btn-outline-primary btn-sm" id="buttonToday" (click)="selectToday()">Today</button>
          </div>
        </div>

        <div class="form-group">
            <label for="meetingHour">Meeting Hour</label>
            <ngb-timepicker [(ngModel)]="time" name="tp" #tp="ngModel"></ngb-timepicker>
        </div>

        <button id="buttonSubmit" type="submit" class="btn btn-success" [disabled]="!meetingForm.form.valid">Create</button>
        <button type="button" class="btn btn-default" (click)="meetingForm.reset()">Clear</button>

        <button id="cancelButton" type="button" class="btn btn-default" routerLink="/meeting-list" routerLinkActive="active">Cancel</button>
      </form>
    </div>
  </div>
</div>