<div class="container">
    <div class="row">
      <div class="col-md-6">
      	<h1>Update Meeting Information</h1>
        <div *ngIf="showLoading" align="middle">
          <img id="loadingGif" src="/assets/loadingSpinner.gif" alt="loading"/>
        </div>
        <div *ngIf="!showLoading">
          <form (ngSubmit)="onSubmit()" #MeetingForm="ngForm" id="MeetingForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title"
                     required
                     [(ngModel)]="model.title" name="title"
                     #name="ngModel">
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                Title is required
              </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" required
                     [(ngModel)]="model.description" name="description" #description="ngModel">
              <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                Description is required
              </div>
            </div>

            <div class="form-group">
              <label for="speaker">Speaker</label>
              <input class="form-control" id="speaker" ngxTypeahead  name="mySpeaker" #mySpeaker="ngModel"
                [(ngModel)]="typeAheadSpeaker"
                [taUrl]="jsonDataUrl"
                [taParams]="{}"
                [taApi]="http"
                (taSelected)="speakerSelected($event)"
                (blur)="verifyUser($event)"/>
            </div>

          <div class="form-group">
            <label for="speaker">Meeting Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                    name="dp" [(ngModel)]="datePicker" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-addon" (click)="d.toggle()" >
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
               <button type="button" class="btn btn-outline-primary btn-sm" (click)="selectToday()">Today</button>
            </div>
          </div>

          <div class="form-group">
              <label for="speaker">Meeting Hour</label>
              <ngb-timepicker [(ngModel)]="time" name="tp" #tp="ngModel"></ngb-timepicker>
          </div>

            <button id="buttonUpdate" type="submit" class="btn btn-success" [disabled]="!MeetingForm.form.valid">Update</button>
            <button type="button" class="btn btn-default" (click)="MeetingForm.reset()">Clear</button>
            <button id="cancelButton" type="button" class="btn btn-default" routerLink="/meeting-list" routerLinkActive="active">Cancel</button>
          </form>
        </div>
      </div>
    </div>
</div>