<div class="container" *ngIf="showLoading" align="middle">
  <img id="loadingGif" src="/assets/loadingSpinner.gif" alt="loading"/>
</div>
<div *ngIf="!showLoading">
  <div class="container">
    <div *ngIf="this.meetings.length > 0">
      <h1 id="speaker">Meetings of {{this.speaker}}</h1><br>
      <table class="table table-bordered backColor" id="meetingsTable">
        <thead>
          <tr>
            <th class="customTh" (click)="sortMeetings('title')" data-toggle="tooltip" data-placement="top" title="Sort by Title">Title</th>
            <th>Description</th>
            <th class="customTh" (click)="sortMeetings('initDate')" data-toggle="tooltip" data-placement="top" title="Sort by Meeting Date">Meeting Date</th>
            <th class="customTh" (click)="sortMeetings('lastUpdate')" data-toggle="tooltip" data-placement="top" title="Sort by Last Update">Last Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meeting of meetings; let i = index">
            <td id="title_{{i}}"><a routerLink="/meeting-detail/{{meeting.id}}" routerLinkActive="active">{{meeting.title}}</a></td>
            <td id="description_{{i}}">{{meeting.description | truncate : [60] }}</td>
            <td id="initDate_{{i}}">{{meeting.initDate | date:'MMM dd, y, H:mm'}}</td>
            <td id="lastUpdate_{{i}}">{{meeting.lastUpdateDatetime | date:'MMM dd, y, H:mm'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="this.meetings.length == 0">
      <h3 id="notMeetings">{{this.speaker}} not have any meetings</h3>
    </div>
  </div>
</div>