<div class="container">
		<md-select placeholder="Sort By" [(ngModel)]="selectedValue" name="sort" (change)="sortMeetings(this.selectedValue,this.meetings)" id="sortby">
			<md-option *ngFor="let sort of sortBy" [value]="sort.value">
				{{sort.viewValue}}
			</md-option>
		</md-select>
		<button type="button" class="btn btn-outline-primary btn-sm" id="inverse" (click)="sortMeetings('inverse', this.meetings)">
			<i class="fa fa-sort" aria-hidden="true"></i> Invertir
		</button>
	<nav class="navbar navbar-light bg-faded">
		<form class="form-inline" (ngSubmit)="search()" #searchForm="ngForm">
			<input type="text" class="form-control mr-sm-2" id="filterSearchField" [(ngModel)]="searchValue" name="searchField" #searchField="ngModel" placeholder="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="buttonSearch">Search</button>
		</form>
	</nav>
	<br>
	<div *ngIf="showLoading" align="middle">
		<img id="loadingGif" src="/assets/loadingSpinner.gif" alt="loading"/>
	</div>
	<div *ngIf="!showLoading">
		<div id="listContainer">
				<div class="row" >
					<div class="col-md-4 pb15" *ngFor="let meeting of filterList()">
						<div class="card" >
							<div class="card-block">
									<h4 class="card-title"><a routerLink="/meeting-detail/{{meeting.id}}" routerLinkActive="active" id="title_{{meeting.id}}"> {{meeting.title}} </a></h4>
									<div class="btn-group float-right" role="group">
										<button type="button" class="btn btn-outline-primary" id="deleteMeeting_{{meeting.id}}" [hidden]="!canDelete(meeting.speaker)" (click)="open(content,meeting.id)">
										<i class="fa fa-trash" aria-hidden="true"></i>
										</button>

											<button id="editMeeting_{{meeting.id}}" class="btn btn-outline-primary" [hidden]="!canEdit(meeting.speaker)" routerLink="/edit-meeting/{{meeting.id}}" routerLinkActive="active" >
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										</button>
									</div>
								<p class="card-text" id="description_{{meeting.id}}">{{meeting.description | truncate : [45]}}</p>
								<p>Speaker: 
									<a class="card-link" id="speaker_{{meeting.id}}" routerLink="/speaker-meetings/{{meeting.speaker}}" routerLinkActive="active">{{meeting.speaker}}</a>
								</p>
								<div class="card-footer">
									<small class="text-muted" id="initDate">Meeting Date: {{meeting.initDate | date:'short'}}</small><br>
									<small class="text-muted" id="lastUpdate">Last updated: {{meeting.lastUpdateDatetime | date:'short'}}</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" id="confirm-dialog">
    <h4 class="modal-title">Atention!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this meeting?</p>
  </div>
  <div class="modal-footer">
  	<button type="button" class="btn btn-secondary" (click)="c('delete')" id="deleteButton">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="c('close')" id="cancelButton">Close</button>
  </div>
</ng-template>