<div class="container" *ngIf="showLoading" align="middle">
  <img id="loadingGif" src="/assets/loadingSpinner.gif" alt="loading"/>
</div>
<div *ngIf="!showLoading">
  <section id="contact">
    <div class="container">
      <div class="row m-t-50">
        <div class="offset-lg-8 col-lg-2" >
            <div class="offset-lg-1 col-lg-11 border-1" >
                  <span *ngIf="!memberHasVotedMeeting()" [ngClass]="{'disable-span': meeting.votes ==null}" title="Vote this meeting" id="voteMeetingBtn" role="button" (click)="meeting.votes ==null || voteMeeting()">
                    <i [ngClass]="{'fa-thumbs-up': !memberHasVotedMeeting() }" class="fa material-icons md-36" aria-hidden="true"></i> Like 
                  </span> 
                  <span *ngIf="memberHasVotedMeeting()" title="Cancel your vote" id="cancelVoteMeetingBtn" role="button" (click)="cancelVoteMeeting()">
                      <i [ngClass]="{'fa-thumbs-o-up': memberHasVotedMeeting()}" class="fa material-icons md-36" aria-hidden="true"></i><strong class="text-muted">Voted</strong>
                  </span> 
                  <span [ngClass]="{'disable-span': meeting.votes ==null, 'text-primary': meeting.votes !==null}" id="voteMeetingCount" class="col-lg-5 border-left-1 pull-right"><strong>{{meeting.votes !== null ? meeting.votes.length : 0}}</strong></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h2 class="section-heading" id="title">{{meeting.title}}</h2><br>            
          <hr class="primary"><br>
          <p id="description">{{meeting.description}}</p><br>
          <hr class="primary"><br>
        </div>
        <div class="col-lg-3 offset-lg-2 text-center">
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
          <p id="initDate">Meeting date: {{meeting.initDate | date:'short'}}</p>
        </div>
        <div class="col-lg-3 text-center">
          <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
          <p *ngIf="meeting.speaker" id="speaker">
            <a routerLink="/speaker-meetings/{{meeting.speaker}}" routerLinkActive="active">{{meeting.speaker}}</a>
          </p>
          <p *ngIf="!meeting.speaker" id="speaker">No speaker selected</p>
        </div>
        <div class="col-lg-3 text-center">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <p id="lastUpdate">Last Update: {{meeting.lastUpdateDatetime | date:'short'}}</p>
        </div>
      </div>
    </div>
  </section>
</div>