<ul class="nav flex-column" id="sideMenu">
    <button type="button" class="btn btn-primary" id="buttonHome" routerLink="/meeting-list" routerLinkActive="active" 
      (click)="closeNav()" [hidden]="urlIncludes('meeting-list')">
        <i class="fa fa-home" aria-hidden="true"></i> HOME
    </button>
  <button type="button" class="btn btn-primary" id="buttonNew" routerLink="/new-meeting" routerLinkActive="active" 
    (click)="closeNav()" [hidden]="urlIncludes('new-meeting')">
      <i class="fa fa-plus-square-o" aria-hidden="true"></i> New Meeting
  </button>
</ul>