<div class="row">
	<nav class="navbar navbar-toggleable-md fixed-top bg-primary">
		<div class="col-md-2">
			<h3 class="white-font" role="button" routerLink="/" routerLinkActive="active" id="appTitle">Browmbagging</h3>
		</div>
		<div class="col-md">
			<div class="btn-group float-right" role="group">
				<ngx-avatar id="avatarImg" *ngIf="avatarImageLoaded" [src]="avatarImagePath"></ngx-avatar>
				<ngx-avatar id="unknownImg" *ngIf="!avatarImageLoaded" [src]="unknownAvatarPath"></ngx-avatar>
				<button type="button" role="button" class="btn btn-primary" id='buttonOpenNav' (click)="navOpen()">
						<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</nav>
</div>