.jumbotron {
	margin-bottom: 0;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:64px;
}

.sidenav-container {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  width:100%;
}

.bg-grey {
  background: grey;
}

.router-container {
  padding-top:2em;
  padding-bottom:2em;
}

.footer {
  text-align: center;
  color: white;
}

.button {
  min-height: 85vh;
}