<md-sidenav-container #sidenav class="sidenav-container">

	<md-sidenav class="md-sidenav bg-grey" mode="over" #sidenav align="end">
		<app-side-nav (isClose)="sidenav.close()"></app-side-nav>
	</md-sidenav>

	<app-banner (isOpen)="sidenav.open()"></app-banner>

	<div class="inner-sidenav-content">
		<div class="router-container button">
			<router-outlet></router-outlet>
		</div>

		<footer class="footer bg-primary">
			Footer information here!
		</footer>
	</div>

</md-sidenav-container>